@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkcocoa: #26190c;
  --powderiris: #7d7fab;
  --lightcreme: #fbfbf0;
}

#__next {
  @apply h-full;
}

html,
body {
  @apply bg-light-creme !important;
  display: inline;
}

* {
  @apply box-border p-0 m-0 font-helvetica;
}

h1,
.h1 {
  @apply text-[250px] font-extralight uppercase text-dark-cocoa;
}

h2 {
  @apply lg:text-[113px] font-extralight lg:leading-[101.4px] -tracking-[.5%] uppercase text-dark-cocoa text-[50px] leading-[3rem];
}

h3 {
  @apply text-[24px] font-extralight leading-[24px] -tracking-[.5%] uppercase text-dark-cocoa;
}

h4 {
  @apply text-[15px] font-extralight leading-[15px] uppercase text-dark-cocoa;
}

p {
  @apply text-[24px] font-extralight leading-[24px] -tracking-[.5%] uppercase text-dark-cocoa;
}

li {
  @apply text-[24px] font-extralight leading-[24px] -tracking-[.5%] uppercase text-dark-cocoa;
}

a {
  @apply text-dark-cocoa no-underline transition-linkHover;
}

a:hover {
  @apply text-powder-iris;
}

.nav-link {
  /* color: change-nav-color($darkcocoa); */
  @apply transition-navLinkHover;
}
.nav-link:hover {
  @apply cursor-pointer text-powder-iris;
}

/* .loader-wrapper {
  background-color: $darkcocoa;
  height: 100vh;
  position: relative;
  top: -5rem;

  & .biglogo {
    position: relative;
    top: 8rem;
    height: 95vh;
    background-color: $darkcocoa;
    overflow: hidden;

    & h1 {
      font-family: "Ortica-Light";
      color: $lightcreme;
      &.left {
        margin-left: 3rem;
        margin-bottom: -1rem;
      }
      &.right {
        margin-right: 7rem;
        margin-top: -1rem;
      }
    }

    & hr {
      border: 1px solid $lightcreme;
    }
  }
} */

.home .lineParent {
  @apply overflow-hidden;
}

.home .lineParent .lineChildren {
  transform: translate(0, 500px);
}

.home .lineParent .lineChildren > div,
span {
  /* @apply mr-5; */
}

.home .right .lineParent .lineChildren > div:nth-child(even) {
  @apply mr-0;
}

.home .lineParent .lineChildren > span {
  @apply italic;
}

.menu > span {
  @apply not-italic top-[2.5rem] relative ml-4 text-[24px] font-extralight leading-[2.5rem] -tracking-[.5%] uppercase;
}

.menu > a:active {
  @apply text-powder-iris;
}

.menu > a:visited {
  @apply text-powder-iris;
}

.menu h2 {
  @apply lg:leading-[101.4px] top-auto lg:ml-16 ml-8 transition-linkHover text-light-creme lg:text-[113px] text-[60px] leading-[3.5rem];
}

.menu h2:hover {
  @apply text-dark-cocoa;
}

.menu > ul > li {
  @apply -mb-[1.25rem];
}

.menu > ul li span {
  @apply leading-[2.5rem] not-italic top-[1rem] relative text-light-creme lg:text-[24px] text-[15px];
}

.menu > ul li span:hover {
  @apply text-dark-cocoa;
}

.serviceHoverImg {
  @apply hidden opacity-0;
}

.service a:hover .cursor-follow {
  @apply opacity-100;
}

.service h2 {
  @apply lg:leading-[101.4px] leading-[1.5rem];
}

.cursor-follow {
  @apply opacity-0 w-auto h-auto max-w-[400] box-border transition-imageHover absolute -z-[1] object-cover;
  transform: translate(-10%, -10%);
}

.contact h1 {
  @apply lg:text-[250px] text-[100px] lg:leading-[18rem] leading-[inherit];
}

.services .section-1 h2 .lineParent {
  @apply overflow-hidden;
}

.services .section-1 p .lineParent {
  @apply overflow-hidden;
}

.services .section-1 h2 .lineParent .lineChildren {
  transform: translate(0, 500px);
}

.services .section-1 p .lineParent .lineChildren {
  transform: translate(0, 500px);
}

/* @function change-nav-color($darkcocoa) {
  @if (lightness($darkcocoa) > 50) {
    @return $lightcreme; // Lighter backgorund, return dark color
  } @else {
    @return $darkcocoa; // Darker background, return light color
  }
}

html,
body {
  height: 100%;
  position: relative;
  background-color: $lightcreme;
}
 */
