@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkcocoa: #26190c;
  --powderiris: #7d7fab;
  --lightcreme: #fbfbf0;
}

html,body {
  @apply bg-light-creme !important;
}

* {
  @apply box-border p-0 m-0 font-helvetica;
}

h1 {
  @apply text-[250px] font-extralight uppercase text-dark-cocoa;
}

h2 {
  @apply text-[113px] font-extralight leading-[101.4px] -tracking-[.5%] uppercase text-dark-cocoa;
}

h3 {
  @apply text-[24px] font-extralight leading-[24px] -tracking-[.5%] uppercase text-dark-cocoa;
}

h4 {
  @apply text-[15px] font-extralight leading-[15px] uppercase text-dark-cocoa;
}

p {
  @apply text-[24px] font-extralight leading-[24px] -tracking-[.5%] uppercase text-dark-cocoa;
}

li {
  @apply text-[24px] font-extralight leading-[24px] -tracking-[.5%] uppercase text-dark-cocoa;
}

a {
  @apply text-dark-cocoa no-underline transition-linkHover;
}

a:hover {
  @apply text-powder-iris;
}

.nav-link {
  /* color: change-nav-color($darkcocoa); */
  @apply transition-navLinkHover;
}
.nav-link:hover {
  @apply cursor-pointer text-powder-iris;
}

.home .lineParent {
  @apply overflow-hidden;
}

.home .lineParent .lineChildren {
  transform: translate(0, 500px);
}

.home .lineParent .lineChildren > div,
span {
  /* @apply mr-5; */
}

.home .right .lineParent .lineChildren > div:nth-child(even) {
  @apply mr-0;
}


.home .lineParent .lineChildren > span {
  @apply italic;
}

.menu > span {
  @apply not-italic top-[2.5rem] relative ml-4 text-[24px] font-extralight leading-[2.5rem] -tracking-[.5%] uppercase;
}

.menu > a:active {
  @apply text-powder-iris;
}

.menu > a:visited {
  @apply text-powder-iris;
}

.menu h2 {
  @apply leading-[101.4px] top-auto ml-16 transition-linkHover text-light-creme;
}

.menu h2:hover {
  @apply text-dark-cocoa;
}

.menu > ul > li {
  @apply -mb-[1.25rem];
}

.menu > ul li span {
  @apply leading-[2.5rem] not-italic top-[1rem] relative text-light-creme;
}

.menu > ul li span:hover {
  @apply text-dark-cocoa;
}
/* @function change-nav-color($darkcocoa) {
  @if (lightness($darkcocoa) > 50) {
    @return $lightcreme; // Lighter backgorund, return dark color
  } @else {
    @return $darkcocoa; // Darker background, return light color
  }
}

html,
body {
  height: 100%;
  position: relative;
  background-color: $lightcreme;
}
 */
